.section-numbers {
  background-color: $blue;
  position: relative;
  overflow: hidden;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 275px;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.9;

  &--paragraph {
    text-align: center;
    font-size: 16px;
    margin: 16px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    z-index: -2;
    transform: rotate(2deg);
  }

  &__shape {
    position: absolute;
    top: -194px;
    right: 22px;
    transform: scale(1.25) rotate(64deg);
    z-index: -1;
  }
}