.section--functions {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;

  &__title {
    padding-right: 22%;
  }

  &__content {
    width: 40%;
  }

  &__image {
    width: 60%;
    background-image: url('../assets/visualisation2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  &__text {
    padding-bottom: 40px;
    font-size: 14px;
  }

  &__background {
    position: absolute;
    top: -50px;
    left: 0;
    width: 120%;
    height: 100%;
    background-color: $light-grey;
    z-index: -2;
    transform: rotate(2deg);
  }

  &__shape {
    top: 0;
    right: 20%;
    transform: scale(1.65) rotate(30deg);
    z-index: -1;
  }
}